@using CodingCraftoHOMod1Ex1EF.Models
<style>
    .minhaClass{
        text-decoration: none;
        color:azure;
    }
    .minhaClass:hover{
        text-decoration: none;
        color:whitesmoke;
    }
</style>
<table class="table">
    <tr>
        <th>
            Categoria
        </th>
        <th>
            Nome
        </th>
        <th>
            Preço
        </th>
        <th>
            Quantidade
        </th>
        <th></th>
    </tr>
    @if (Session["carrinho"] != null)
    {


        foreach (Item item in (List<Item>)Session["carrinho"])
        {
            <tr>
                <td>
                    @item.Produto.Categoria.Nome
                </td>
                <td>
                    @item.Produto.Nome
                </td>
                <td>
                    @item.Produto.Preco
                </td>
                <td>
                    @item.Quantidade
                </td>
                <td class="btn btn-danger">
                    @Html.ActionLink("X Remover", "Remover", new { id = item.Produto.ProdutoId }, new { @class = "minhaClass"})
                </td>
            </tr>
        }
        <tr>
            <td>Total</td>
            <td>
                @{ List<Item> carrinho = (List<Item>)Session["carrinho"];
                    var total = carrinho.Sum(item => item.Produto.Preco * item.Quantidade);
                }
                @total
            </td>
        </tr>
        <tr>
            <td class="btn btn-primary ">@Html.ActionLink("Finalizar Pedido", "FinalizarPedido", new { total }, new { @class = "minhaClass" })</td>
            <td class="btn btn-danger ">@Html.ActionLink("Cancelar Pedido", "CancelarPedido", null,  new { @class = "minhaClass" })</td>
        </tr>
}
else
{
    <tr class="alert-info">
        <td><h1>Não há itens no carrinho!!!</h1></td>
    </tr>
}


</table>

<div>
    @Html.ActionLink("Continuar Comprando", "Index")
</div>

@*<script src="~/Scripts/jquery-3.3.1.js">
    function CancelarPedido() {
        $.ajax({
            url: "/Produtos/CancelarPedido",
            data: {""},
            type: 'GET',
            success: function (result) {
                alert("Sucesso");
            },
            error: function (result) {
                alert("Ruim");
            }
        });
    }
</script>*@