@model IEnumerable<CodingCraftoHOMod1Ex1EF.Models.Produto>
@using StackExchange.Profiling;
@using StackExchange.Profiling.Mvc


@section css {
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
}

@{
    ViewBag.Title = "Produtos";
}
<div class="card shadow mb-4" style="margin-top: 50px">
    <div class="card-header py-3">
      
        <h6 class="m-0 font-weight-bold">Produtos no Estoque @Html.ActionLink("+", "Create", "Produtos", null, new { @class = "btn btn-success btn-sm", style = "float: right;" })</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Categoria</th>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Cardinalidade</th>
                        <th>Quantidade</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Categoria</th>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Cardinalidade</th>
                        <th>Quantidade</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ProdutoId</td>
                            <td>@item.Categoria.Nome</td>
                            <td>@item.Nome</td>
                            <td>R$ @item.Preco</td>
                            <td>@item.Cardinalidade</td>
                            <td>@item.Quantidade</td>
                            <td>
                                @Html.ActionLink("Remover", "Delete", new { id = item.ProdutoId }, new { @class = "btn btn-danger btn-sm" })
                                @Html.ActionLink("Editar", "Edit", new { id = item.ProdutoId }, new { @class = "btn btn-warning btn-sm" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryMin")