@model IEnumerable<CodingCraftoHOMod1Ex1EF.Models.Produto>

@{
    ViewBag.Title = "Produtos";
}

<script type="text/javascript">
    $(document).ready(function () {
        //Pega os dados do banco de dados para preencher o datatable
        var oTable = $("#tabelaProdutos").DataTable({

            "language": {
                "lengthMenu": "Exibe _MENU_ Registros por página",
                "search": "Procurar",
                "paginate": { "previous": "Retorna", "next": "Avança" },
                "zeroRecords": "Nada foi encontrado",
                "info": "Exibindo página _PAGE_ de _PAGES_",
                "infoEmpty": "Sem registros",
                "infoFiltered": "(filtrado de _MAX_ regitros totais)"
            },
            "processing": true, // mostrar a progress bar
            //"serverSide": true, // processamento no servidor
            "filter": true, // habilita o filtro(search box)
            "lengthMenu": [[3, 5, 10, 25, 50, -1], [3, 5, 10, 25, 50, "Todos"]],
            "pageLength": 3, // define o tamanho da página

            "ajax": {
                "url": "/Produtos/Index",
                "type": "GET",
                "dataType": "json"
            },
            "columns": [],
            { "data": "ProdutoId", "title": "Código", "autowidth": true },
            { "data": "Nome", "title": "Nome", "autowidth": true },
            { "data": "Preco", "title": "Preço", "autowidth": true },
            { "data": "Quantidade", "title": "Quantidade", "autowidth": true },
            { "data": "Cardinalidade", "title": "Cardinalidade", "autowidth": true },
                      ]
                ]
    });
        });
</script>



<h2>Index</h2>

<p>
    @Html.ActionLink("Cadastrar Produto", "Create")
</p>

<div>  @Html.ActionLink("Carrinho", "Carrinho") </div>

<table class="table" id="tabelaProdutos">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categoria.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cardinalidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th></th>
        </tr>
    </thead>


</table>

<div>
    @Html.ActionLink("Vendas", "ListarVendas")
</div>

