@model CodingCraftoHOMod1Ex1EF.Models.FornecedorProduto

@{
    ViewBag.Title = "Detalhes";
}

<h2>Details</h2>

<div>
    <h4>FornecedorProduto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fornecedor.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fornecedor.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new {  id = Model.FornecedorProdutoId  }) |
    @Html.ActionLink("Voltar", "Index")
</p>
