@using CodingCraftoHOMod1Ex1EF.Models

@section css {
    <link rel="stylesheet" href="~/Content/carrinho.css" />
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
}

<div class="col-md-4  mb-4 px-3 ml-lg-2 jumbotron" style="margin-top: 50px;">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Seu carrinho</span>
    </h4>
    <ul class="list-group mb-3">

        @if (Session["carrinho"] != null)
        {

            foreach (Item item in (List<Item>)Session["carrinho"])
            {
                <li class="list-group-item d-flex justify-content-between lh-condensed alert-warning">
                    <div>
                        <h6 class="my-0">@item.NomeItem</h6>
                    </div>
                    <span class="text-muted">@item.PrecoUnitario.ToString("C")</span>
                    <span class="text-muted">@item.Quantidade</span>
                    <span class="text-muted">@Html.ActionLink("X", "RemoverItem", new { CodigoProduto = item.CodigoProduto })</span>
                </li>


            }

            <li class="list-group-item d-flex justify-content-between">
                <span>Total (R$)</span>
                <strong>
                    @{ List<Item> carrinho = (List<Item>)Session["carrinho"];
                        var total = carrinho.Sum(item => item.PrecoUnitario * item.Quantidade);
                    }
                    @total
                </strong>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span class="text-muted"><button class="btn btn-warning btn-sm btn-block">@Html.ActionLink("Continuar Comprando", "Index", null, new { @class = "button-remove-style" })</button></span>
            </li>

            <li class="list-group-item d-flex justify-content-between">
                <span class="text-muted"><button class="btn btn-success btn-sm btn-block ml-1">@Html.ActionLink("Finalizar Pedido", "EmailCliente", "Vendas", null, new { @class = "button-remove-style" })</button></span>
                <span class="text-muted"><button class="btn btn-danger btn-sm btn-block ml-2">@Html.ActionLink("Cancelar Pedido", "CancelarPedido", null, new { @class = "button-remove-style" })</button></span>
            </li>
        }
        else
        {
            <li class="list-group-item d-flex justify-content-between lh-condensed alert-warning">
                <div>
                    <h6 class="my-0 alert-info">Não há itens no carrinho!!!</h6>
                </div>
            </li>
        }
    </ul>

</div>