
@model IEnumerable<CodingCraftoHOMod1Ex1EF.Models.ProdutoViewModel>

@section css {
    <link rel="stylesheet" href="~/Content/carrinho.css" />
}

@{
    ViewBag.Title = "Produtos";
}

<h2 class="titulocarrinho">Os melhores doces</h2>
@Html.ActionLink("Teste", "Teste")

<div class="container">
    @foreach (var item in Model)
    {
        <div class="produto">
            <div class="col-sm produtointerno">
                <div class="texto-produto">@Html.DisplayFor(modelItem => item.Nome)</div>
                <div class="texto-produto"> @Html.DisplayFor(modelItem => item.Preco)</div>
                @Html.ActionLink("Comprar", "Comprar", new { id = item.ProdutoId }, new { @class = "botaoComprar btn btn-warning" })
            </div>
        </div>
    }

</div>

@Scripts.Render("~/bundles/jqueryMin")
@Scripts.Render("~/bundles/datatablesMin")
@Scripts.Render("~/bundles/datatablesCss")

