@model IEnumerable<CodingCraftoHOMod1Ex1EF.Models.Venda>
@using StackExchange.Profiling;
@using StackExchange.Profiling.Mvc


@section css {
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
}

@{
    ViewBag.Title = "Meus Pedidos";
}
<div class="card shadow mb-4" style="margin-top: 50px">
    <div class="card-header py-3">

        <h6 class="m-0 font-weight-bold">Meus Pedidos</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Data do pedido</th>
                        <th>Itens</th>
                        <th>Preço</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Data do Pedido</th>
                        <th>Itens</th>
                        <th>Preço</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.VendaId</td>
                        <td>@item.DataDaVenda</td>
                        <td>Itens</td>
                        <td>@item.ValorDaVenda</td>
                        <td>
                            @Html.ActionLink("Remover", "Delete", new { id = item.VendaId }, new { @class = "btn btn-danger btn-sm" })
                            @Html.ActionLink("Editar", "Edit", new { id = item.VendaId }, new { @class = "btn btn-warning btn-sm" })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryMin")