@model IEnumerable<CodingCraftoHOMod1Ex1EF.Models.Venda>

<p>
    @Html.ActionLink("Cadastrar Venda", "Create")
</p>
<table class="table" id="tabelaVendas">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataDaVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorDaVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDaVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorDaVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.VendaId }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.VendaId }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.VendaId })
                </td>
            </tr>
        }
    </tbody>

</table>

@Scripts.Render("~/bundles/jqueryMin")
@Scripts.Render("~/bundles/datatablesMin")
@Scripts.Render("~/bundles/datatablesCss")

<script type="text/javascript">
    $(document).ready(function () {
        $('#tabelaVendas').DataTable();
    });
</script>
