@model IEnumerable<CodingCraftoHOMod1Ex1EF.Models.Venda>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Cadastrar Venda", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cliente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeProdutos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDaVenda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorVenda)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cliente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadeProdutos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDaVenda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorVenda)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.VendaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VendaId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.VendaId })
        </td>
    </tr>
}

</table>
