@model IEnumerable<CodingCraftoHOMod1Ex1EF.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Cadastrar Cliente", "Create")
</p>
<table class="table" id="tabelaClientes">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ClientId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ClientId })
                </td>
            </tr>
        }
    </tbody>

</table>


@Scripts.Render("~/bundles/jqueryMin")
@Scripts.Render("~/bundles/datatablesMin")
@Scripts.Render("~/bundles/datatablesCss")

<script type="text/javascript">
    $(document).ready(function () {
        $('#tabelaClientes').DataTable();
    });
</script>

