@using CodingCraftoHOMod1Ex1EF.Models;

<h3>Cart Page</h3>

@if (Session["cart"] == null)
{
    <div class="btn-info">
        Não há nenhum produto no carrinho
    </div>
}
else
{

    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Option</th>
            <th>Id</th>
            <th>Nome</th>
            <th>Preco</th>
            <th>Quantidade</th>
            <th>Sub Total</th>
        </tr>
        @foreach (Item item in (List<Item>)Session["cart"])
        {
            <tr>
                <td><a href="@Url.Action("Remove", "Cart", new { id = item.Produto.ProdutoId })">Remove</a></td>
                <td>@item.Produto.ProdutoId</td>
                <td>@item.Produto.Nome</td>
                <td>@item.Produto.Preco</td>
                <td>@item.Quantidade</td>
                <td>@(item.Produto.Preco * item.Quantidade)</td>
            </tr>
        }
        <tr>
            <td align="right" colspan="6">Sum</td>
            <td>
                @{
                    List<Item> cart = (List<Item>)Session["cart"];
                    var total = cart.Sum(item => item.Produto.Preco * item.Quantidade);
                }
                @total
            </td>
        </tr>
    </table>
    <br>
    <a href="@Url.Action("Index", "Produtos")">Continue Shopping</a>
}